{% extends 'base.html' %}
{% block header_content %}
            <div class="header-content header-pages">
                <h1 class="namepage">Personal</h1>
            </div>
{% endblock %}

{% block content %}

    <!-- SECTION: Contact -->
    <section class="info">
        <div class="container content-cart">
            <div class="mb-3">
                <input type="password" class="form-control form-control-form" placeholder="Password">
            </div>

            <div class="mb-3">
                <input type="password" class="form-control form-control-form" placeholder="New password">
            </div>

            <div class="mb-3">
                <input type="password" class="form-control form-control-form" placeholder="Confirm New Password">
            </div>

            <div class="mb-5">
                <a href="/" class="payment">Save</a>
            </div>
        </div>
    </section>

{% endblock %}


