{% extends 'base.html' %}
{% load account socialaccount %}

{% block content %}
    <div class="container">
<div class="page">
   <div class="page__login login">
      <div class="login__container -container">
         <div class="login__form">

             <form action="{% url 'login' %}" method="POST" class="modal-login">
                            {% csrf_token %}
                            <div class="content-modal-form">
                                <div class="title-modal-form">Sign In</div>
                            </div>

                            <div class="mb-3">
                                <input type="email", name ="username" class="form-control form-control-form" placeholder="E-mail">
                            </div>

                            <div class="mb-3">
                                <input type="password" name="password" class="form-control form-control-form" placeholder="Password">
                            </div>

                            <div class="mb-3 mb-center">
                                <a href="{% provider_login_url "google" %}" class="google-auth"><i class="lab la-google-plus"></i> Войти через Google</a>
                            </div>

                            <div class="mb-3 flex-modal-center" style="margin-top: 10px">
                                <button type="submit" class="modalbtn">Sign In</button>

                            </div>
                        </form>
             <a href="{% url 'password_reset' %}">forgot password?</a><br>
             <span>don't have an account?</span><a href="{% url 'register' %}">REGISTER</a>
               </div>
            </div>
         </div>
      </div>
   </div>
    </div>
{% endblock %}