{% extends 'base.html' %}
{% load static %}

{% block title %}Reset password{% endblock %}


{% block content %}
<div class="page">
   <div class="page__login login">
      <div class="login__container -container">
         <div class="login__form">
          {% if validlink %}
            <form method="POST" class="login-form">
               {% csrf_token %}
                <div class="login-form__main">
                  <div class="login-form__inputs">
                     <div class="login-form__top">
                        <div class="login-form__item">
                           <p class="login-form__label">Password</p>
                           <div class="login-form__input"><input autocomplete="off" type="password" name="new_password1" data-value="Password"></div>
                        </div>
                        <div class="login-form__item">
                           <p class="login-form__label">Confirm password</p>
                           <div class="login-form__input"><input autocomplete="off" type="password" name="new_password2" data-value="Password"></div>
                       </div>
                     </div>
                  </div>
                </div>

                <div class="login-form__actions">
                  <button type="submit" class="login-form__btn">Change my password</button>
                </div>
            </form>
              {% else %}
                <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
              {% endif %}
               </div>
               <div class="login__body">
                  <div class="login__image -ai"><img src="{% static 'img/login//image.jpg' %}" alt=""></div>
                  <div class="login__label">
                     <span>Reset password</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}

<!-- {% if validlink %}

<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %} -->

